body {
    background-color: rgb(221, 221, 248);
    background: linear-gradient(black, rgb(110, 63, 2), rgb(141, 96, 0), rgb(255, 255, 94) 1200px);
   }

h1{color: rgb(209, 204, 204);
   padding-top: 5%;
   padding-left: 39%;
   

    
}

@keyframes piscar {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}



input{background-color: rgb(243, 243, 238);
border-radius: 5px;
margin-top: 0.1cm;
margin-bottom: 0.1cm;
margin-right: 0.1cm;
margin-left: 0.1cm;
    
}

fieldset#titulo{
    width: 1200px;
    border: none;
    margin-bottom: 0.1%;
    padding-bottom: 0.1%;
    margin-left: auto;
    
     

}

h1{
    padding: 1%;
    padding-left: 27%;
    margin-left: 0.1cm;
}

#preview-canvas {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    text-align: center;
  }

  #preview-canvas:hover {
    background-color: #3e8e41;
  }
  


select{background-color: rgb(243, 243, 238);
    border-radius: 5px;
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;

}

fieldset{
    margin: 5px auto;
    text-align: left;
}

fieldset#estCivil{
    margin: 10px;
    
}

div#imgs_cab{
    margin: 10px;
    
}
fieldset#fs_img {
    
    height: auto;
    width: 1200px;
    border: none;
    
}


fieldset#fs_1 {
    
    height: auto;
    width: 1200px;
    border: 1px solid rgb(17, 17, 16);
    background: rgb(190, 171, 134);
    
}

fieldset#fs_2 {
    height: auto;
    width: 1200px;
    border: 1px solid rgb(17, 17, 16);
    background: rgb(230, 241, 191);
}

button#btnGera{
    width: 3cm; 
    height: 1cm; 
    border-radius: 5px; 
    background-color: rgb(11, 182, 33);
    

}

fieldset#fs_3 {
    height: auto;
    width: 1200px;
    border: 1px solid rgb(17, 17, 16);
    background: rgb(154, 201, 172);
}

.org{
    width: 30px;
}

#titulo{
    color: white;
}
